.header{
    background: #222;
    padding: 8px 32px 8px 16px;
    height: 36px;
}
.logo{
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    background: #ff7f7f;
    animation: App-logo-spin infinite 8s linear;
}
.logo_img{
    display: block;
    width: auto;
    height: 100%;
}

.login-button-class{

}

.login-button-div{
    margin-left: 1000px;
}
